{% extends 'app/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
{{ Form.media }}

<br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="fondo_formulario" class="card">
                    <div class="card_body">
                        <h2>Nuevo Producto</h2>
                        <hr>
                        <form class="espacio" action="" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            {{ Form | crispy }}
                            
                            
                            <div class="d-flex justify-content-end">
                                <a class="reset" href="{% url 'home' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                                &nbsp;
                                <input type="submit" value="Guardar" class="btn btn-info">
                            </div>
                            
                        </form>
                        {{mensaje}}
            </div>
        </div>
    </div>
</div>

{% endblock %}