{% extends 'app/base.html' %}
{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block contenido %}

<hr>
<br>
<center>
<form action="{% url 'buscar' %}" method="GET">
<button id="busc"><img src="{% static 'app/img/iconos/lupa.png' %}" alt="lupa" width="28" height="28"></button>
<input type="search" placeholder="Buscar..." id="Buscador" name="buscar">
</form></center><br>
{% load humanize %}
<h2>Productos</h2>
<div class="productos">
    <style>
        .producto {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
        }
        
        .producto .tooltiptext {
          visibility: hidden;
          width: 300px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 102%;
          left: 20%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;
        }
        
        .producto .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
        
        .producto:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
        </style>
    {% if productos %}
    {% for p in productos %}
    <div class="producto">
        <span class="tooltiptext">{{ p.descripcion }}</span>
        <div class="contenedor_producto">
            {% if p.imagen %}
            <img class="img" src="{{ p.imagen.url }}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <h5>{{ p.marca | capfirst }}</h5>
                <h2>{{ p.nombre | title }}</h2>
                <h3>${{ p.precio | intcomma }}</h3>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    
    <h2>No se encontraron</h2>
    {% endif %}
</div>
<div class="boton2"></div>
{% endblock %}