{% extends 'app/base.html' %}


{% block contenido %}
{% load crispy_forms_tags %}
<br>
<br>
<div class="row">
    
    <div class="col-12 col-md-6 offset-md-3">
        <div class="fondo_formulario" class="card">
            <div class="card-body">
                <h2>Contactanos!</h2>
                <hr>
                <form action="" method="POST"> 
            
                    {% csrf_token %}
                        
                
                    {{ Form | crispy }}
                    <hr>
                    <br>
                    <div class="d-flex justify-content-end">
                        <a class="reset" href="{% url 'home' %}"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-info">Enviar</button>
                    </div>      
                
                
                
                </form>
                {{mensaje}}
            </div>
        </div>
        
    </div>
</div>


<table id="tablacontactos">
            
</table>

    
{% endblock %}