{% extends 'app/base.html' %}

{% block contenido %}
<div class="row">
    <div class="col-12 col-md-12 offset-md-0">
        <div class="card">
            <div class="card-body">
                <h1><center>Etica de la empresa</center></h1>
                <hr>

                <h2><strong>CODIGO DE ETICA</strong></h2>
                <P><center>En Elegance sabemos que, para cumplir con nuestra misión de satisfacer y agradar con excelencia
                a la persona compradora de productos para el rostro, <br>
                debemos poner en práctica los valores que hemos cultivado. Actuar con respeto,
                honestidad e integridad, regirnos por las leyes<br> y ordenamientos de los sitios en los que operamos, es parte
                esencial de nuestra cultura corporativa. El Código de Ética de Elegance es la base de nuestra conducta
                empresarial <br> y es el fundamento de nuestras políticas, procedimientos y directrices. Ha sido aprobado por el
                Consejo de Administración, que también ha autorizado su expedición y su actualización permanente, <br> necesaria 
                en virtud de los cambios que se observan en el entorno social. La actualización de este código nos permite
                reforzar la confianza de nuestros consejeros, <br> colaboradores, inversionistas, clientes, proveedores, autoridades
                y comunidades. El Código de Ética de Elegance formaliza en un solo documento <br> nuestros principios éticos, 
                unifica criterios y establece un marco de referencia común que nos da rumbo para actuar siempre de manera integral.
                Se trata de una útil herramienta <br> de trabajo que nos orienta para tomar las decisiones correctas con apego a 
                nuestros valores. Invito a todos quienes formamos parte de la familia Elegance a leer<br> y consultar
                permanentemente nuestro Código de Ética de Elegance. Es muy importante, también, que nos reporten cualquier 
                irregularidad que observen.<br>
                Cuento con su apoyo, entusiasmo y compromiso para seguir construyendo historias de éxito y fortalecer
                la reputación de nuestra amada empresa Elegance.</center></p>

                <h2><strong><center>CONDUCTA ETICA</center></strong></h2>
                <p><center>En Elegance, creemos que actuar con ética y responsabilidad es lo correcto para nuestro negocio. <br>
                    Nuestro Código de Conducta Global de Elegance 
                    (con nuestro “Código”) se espera proporcionar orientación específica a fin de que puedan actuar en forma ética<br>
                    en el desempeño de su trabajo
                    con Elegance. Se espera que cada uno de nosotros adopte los principios de nuestro Código y: <br>
                    
                    - Muestre respeto <br>
                    - Actúe con integridad en el mercado<br>
                    - Garantice la ética en nuestras actividades comerciales<br>
                    - Realice su trabajo con responsabilidad<br>
                    
                    Nuestro Código es nuestro mapa de ruta y nuestra brújula para llevar a cabo nuestra web de manera 
                    correcta. Refuerza nuestros valores<br> fundamentales y es el fundamento de nuestra estratégica de sustentabilidad 
                    (Desempeño con Propósito) de hecho, nuestro Código es el propósito detrás
                    de nuestro desempeño.</center></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}