{% extends 'app/base.html' %}

{% block contenido %}
<div class="row">
    <div class="col-12 col-md-12 offset-md-0">
        <div class="card">
            <div class="card-body">
                <h1>Términos y condiciones</h1>
                <hr>
                <h2><strong>ADVERTENCIA:</strong></h2>
                <p>El Usuario entiende que el uso de la presente herramienta significa una aceptación de este Aviso Legal, 
                    así como de las condiciones generales de uso.
                    Elengace es una empresa colombiana con domicilio en la ciudad de Calarca, correo electronico.
                    elegancelomejor2021@gmail.com</p>
                    <br>

                <h2><strong>INFORMACIÓN IMPORTANTE:</strong></h2>
                <p>El presente sitio, aunque es un sitio seguro, no está libre de errores y en consecuencia la información general,
                    así como las características de los productos anunciados y los precios pueden variar con ocasión de errores 
                    humanos, tecnológicos, manipulación por terceros no autorizados, virus o cualquier evento de invasión o manipulación
                    tecnológica. En consecuencia toda transacción está sujeta a verificación posterior por parte de nuestra empresa y 
                    confirmación por parte del USUARIO.
                    Los productos y precios incluidos en esta página Y en la app están dirigidos al público en general como personas 
                    indeterminadas y por consiguiente será necesaria siempre una confirmación y aceptación de nuestra parte de su orden de
                    compra y del pago realizado, momento en el cual se expedirá la correspondiente factura y se perfeccionará el contrato
                    de venta entre el USUARIO y nuestra empresa.</p>
                    <br>

                <h2><strong>AVISO LEGAL:</strong></h2>
                <p>El Cliente o Usuario de este sitio web  o de la APP declara bajo la gravedad de juramento lo siguiente:
                    Los recursos con los cuales efectúa la compra en este sitio web provienen de actividades, operaciones, oficios o negocios lícitos.
                    En consecuencia, los recursos con los que efectúa la compra no fueron obtenidos mediante actividades consideradas como lavado de
                    activos, financiación del terrorismo o cualquier otro delito conexo contemplado en normas nacionales e internacionales.</p>
                    <br>

                <h2><strong>ASPECTOS GENERALES:</strong></h2>
                <p>En este sitio podrá comprar y conocer los diferentes productos de nuestros proveedores. Te recomendamos leerlos atentamente 
                    para que sepas en qué consisten y no tengas dudas al comprar con nosotros.
                    Estos Términos y Condiciones aplicarán y se entenderán incorporados en todas las compras y servicios que contrate,la APP y las
                    distintas platafromas tecnologicas de compra, mediante los sistemas de comercialización comprendidos en este sitio web.
                    En nuestro sitio podrás acceder a información de política de garantía, medios de pago, política de cambio y devoluciones etc.
                    El objetivo es facilitar el acceso e incrementar los beneficios de uso, que pueden variar periódicamente, sin afectar, en caso
                    alguno los derechos adquiridos por los consumidores.
                    Elegance aplicará estrictamente todos los beneficios y garantías que el estatuto de proteccional consumidor establece para las
                    transacciones que se realizan a través de su sitio.</p>
                    <br>

                <h2><strong>PRODUCTOS:</strong></h2>
                <p>Las imágenes de los productos publicadas en este Sitio Web o en la APP  muestran la representación más cercana al producto real 
                    en cuanto a color,se indica su tamaño o capacidad del producto ,su diseño etc. Sin embargo, la precisión de la imagen depende de 
                    diferentes factores como lo son la resolución y configuración de la pantalla del computador o dispositivo del Usuario, por tanto, 
                    las características del producto real pueden variar ligeramente frente a la imagen. </p>
                    <br>

                <h2><strong>DISPONIBILIDAD DE PRODUCTOS: </strong></h2>
                <p><strong>Elegance </strong>realiza la retroalimentación de los inventarios de forma continua y si en el exacto momento de 
                perfeccionamiento de la compra no hubiere más inventarios del producto comprado, el sistema antes del pago retrotrae automáticamente 
                la operación enviando el sistema un mensaje de no disponibilidad del producto o un asesor se podrá comunicar con en el cliente para 
                realizar los cambios  pertinentes en la orden</p>

                <p><strong>PRODUCTOS EXHIBIDOS EN ELEGANCE</strong><br>Las imágenes exhibidas en ELEGANCE, a través de su página guardan la mayor 
                    fidelidad a los productos ofrecidos, sin embargo algunas características podrían llegar a variar. Recuerde las imágenes de los 
                    productos son ambientadas</p>

                <p><strong>MEDIOS DE PAGO</strong><br>el cliente al consentir en cualquiera de los contratos que se perfeccionan a través de la APP declara 
                    bajo la gravedad de juramento, que sus ingresos provienen de actividades lícitas, que no se encuentra con registro negativo en listados de 
                    prevención de lavado de activos nacionales o internacionales, que no se encuentra dentro de una de las dos categorías de lavado de activos 
                    (conversión o movimiento) y que en consecuencia, se obliga a responder frente a ELEGANCE por todos los perjuicios que se llegaren a causar 
                    como consecuencia de esta afirmación. En igual sentido responderá ante terceros. Declara igualmente, que sus conductas se ajustan a la ley y 
                    a la ética y, en consecuencia se obliga a implementar las medidas tendientes a evitar que sus operaciones puedan ser utilizadas con o sin su 
                    consentimiento y conocimiento como instrumentos para el ocultamiento, manejo, inversión o aprovechamiento en cualquier forma de dinero u otros 
                    bienes provenientes de actividades delictivas, o para dar apariencia de legalidad a éstas actividades. En el mismo sentido, se compromete a actuar 
                    dentro del marco legal vigente en Colombia, dando cumplimiento a todos los procedimientos, trámites y obligaciones contemplados en la Ley y 
                    demás normas pertinentes y que cualquier evidencia de que estos principios no se cumplen o puedan estar en entredicho será causal suficiente
                    para resolver, a criterio de la Parte cumplida, el Contrato que resulte de su aceptación.</p>

                <p><strong>CONDICIONES DE PAGO </strong><br>El Usuario pagará el precio anunciado en KRIKA COSMETICS  al momento de realizar la compra de 
                    cada uno de los productos seleccionados. cuenta con un sistema de conexión segura para efectuar las transacciones correspondientes. 
                    Elengace no será responsable por las fallas en la comunicación de las entidades bancarias ni de los perjuicios por las acciones u 
                    omisiones de dichas entidades. Elegance aceptará la oferta de compra sólo hasta verificar el pago total.</p>

                <p><strong>CARGOS POR ENVÍO E IMPUESTOS </strong><br>Los gastos de envío  serán informados al Usuario al momento de realizar la compra del 
                    producto por lo que podrá conocer de antemano todos los conceptos a cancelar.</p>
                    <br>

                <h2><strong>FACTURA: </strong></h2>
                <p> La factura se remitirá en físico junto con el producto adquirido a la dirección mencionada por el cliente,  o por el personal de Elegance 
                    cuando sea retirada en alguna de las tiendas. Así mismo, la factura será enviada por medio del correo electrónico suministrado por el cliente 
                    en el Sitio Web al momento de crear la cuenta o realizar el pedido como invitado.</p>
                    <br>

                <h2><strong>SERVICIO AL CLIENTE: </strong></h2>
                <P>Sus opiniones son muy importantes para Elegance. Los siguientes son los canales que puede usar para comunicarse con nosotros:
                    correo electrónico: elegancelomejor2021@gmail.com
                    Nuestro Horario de Atención al Cliente es de lunes a sábado de 09:00 a.m a 6:00 p.m y atenderemos su solicitud en máximo 24 horas</P>
            </div>
        </div>
    </div>
</div>
{% endblock %}